:root {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(3, 3, 3, 0.87);
  background-color: white;
}
#root {
  width: 100%;
  text-align: center;
  height: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  height: 800px;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.navbarTop {
  position: relative;
  height: auto;
  top: 0px;
  text-align: right;
  background: linear-gradient(to right, rgba(255, 192, 203, 0) 0%,  #535bf23a 100%);
  padding: 5px;
  align-items: center;
  margin-bottom: 20px;
}
.nav-link {
  margin: 5px 15px;
  color: black;
  size: 35px;
  opacity: 1;
}
.loginPart{
  height: auto;
  width: 100%;
}
.loginDev {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.sideNav {
  position: fixed;
  left: -130px; 
  top: 0;
  height: 100%;
  width: 130px;
  background: linear-gradient(to bottom, rgb(255, 206, 137) 0%, rgb(252, 236, 214) 110%);
  padding: 20px;
  transition: left 0.3s; 
  display: flex; /* Add this line to make it a flex container */
  flex-direction: column; /* Align items vertically */
  align-items: flex-end;
}

.sideNav:hover {
  left: 0; 
}

.sideNav ul {
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

.sideNav li {
  margin-bottom: 5px;
}

.sideNav link {
  color: red;
  text-decoration: none;
  display: flex;
  align-items: right;
  position: fixed;
}
.sideNav Link:hover {
  background-color: #555;
  padding: 5px;
  border-radius: 5px;
}
.navSpan {
  visibility: hidden; 
  top: 10%; 
  right: calc(100% - 10px); 
  transform: translateY(+50%);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: visibility 0.3s ease-in-out;
}

.sideNavLink:hover .navSpan {
  visibility: visible; /* Show the text when the parent is being hovered over */
}

.iconSize {
  font-size: 25px;
  margin-top: 25px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
